.back-button-section{
  padding: 50px 0 0 5vw;
}

.back-button{
  width: 130px;
  box-shadow: 0 0 5px grey;
}

.darkmode{
  background-color: #212428;
  color: #fff;
}

@media only screen and (max-width: 375px){
  .back-button-section{
    padding: 50px 0 0 10vw;
  }
}
