.search-container{
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.flex-40{
  flex-basis: 40%;
}

@media only screen and (max-width: 375px){
  .search-container{
    display: block;
  }

  .filter-dropdown{
    padding-top: 20px;
  }
}
